#header{
    height:70px;
    background:url("../image/h_banner1.jpg") no-repeat 0px 0px;
    background-size: 100% 100%;
}
#main{
    height:750px;
}
#footer{
    height:25px;
    background:url("../image/f_banner.jpg") no-repeat 0px 0px;
    background-size: 100% 100%;
}
.imcontainer{
    overflow: hidden;
}
.h_logo{
    padding:0px 10px;
    height:100%;
}
.h_logo img{
    width:auto;
    height:100%;
}
.h_title{
    width:700px;
    padding-top:15px;
    padding-left: 30px;
    text-align: left;
}
.h_title #h_title_name{
    font-size:30px;
    font-weight: 700;
    color:skyblue;
    font-style: oblique;
    text-shadow: 2px 3px 5px gray;
}
#cms_list{
    width:200px;
    height:100%;
    background-color: yellow;
    float:left;
    background:url("../image/list_banner2.jpg") no-repeat 0px 0px ;
    background-size: 100% 100%;
}
#cms_list h1{
    height:30px;
    padding: 7px 0px;
    font-size:18px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
}
.cms_list_name{
    height:22px;
    margin:10px 20px;
    text-align:center;
    line-height: 22px;
    color:#333;
    border-bottom:2px solid skyblue;
    cursor:pointer;
}
.cms_list_child{
    width:100%;
    font-size:13px;
    /*display:none;*/
}
.cms_list_child .cd{
    height:18px;
    padding:5px 0px;
    text-align: center;
    line-height: 18px;
    cursor:pointer;
}
.cms_list_child .cd .bl{
    color:gray;
}
.cms_list_child .cd .bl:hover{
    color:blue;
}
.cms_list_child .cd a.blue{
    color:blue;
}
#cms_content{
    width:1150px;
    height:100%;
    float:left;
}
#cms_location{
    width:1130px;
    margin:10px;
    background-color: #00FFCC;
    color:#333;
    font-size:14px;
}
#cms_outdoor{
    height:15px;
    padding-right: 20px;
    font-size:12px;
    text-align:right;
    line-height: 15px;
}
#cms_outdoor .ga{
    color:gray;
}
.or_footer td{
    padding:35px 0px;
    text-align: center;
}
.or_footer td .fc_y{
    line-height: 25px;
    color:orange;
    font-size:25px;
    font-weight: bold;
}
.or_footer td .fs{
    color:gray;
}
#footer p{
    text-align: center;
    padding-top:5px;
    font-size:12px;
    color:gray;
}