#cms_data{
    padding:30px 50px 0px 50px;
}
table,td{
    border-top:1px solid skyblue;
    border-bottom:1px solid skyblue;
}
#ordercount{
    width:1030px;
    border-collapse:collapse;
}
.or_header td{
    padding-top:10px;
}
.or_header td:nth-child(1){
    padding-left: 10px;
    font-weight:bold;
}
.or_header td:nth-child(2){
    width:426px!important;
}
.or_header td .or_btn{
    display:inline-block;
    margin-left:50px;
    padding:0px 8px 10px 8px;
    font-size: 14px;
    cursor:pointer;
}
.or_header td .br{
    border-bottom:3px solid blue;
}
